Fatchat.xcodeproj/project.xcworkspace/xcshareddata/Fatchat.xccheckout
Fatchat.xcodeproj/project.xcworkspace/xcuserdata/developer.xcuserdatad/UserInterfaceState.xcuserstate
Fatchat.xcodeproj/xcuserdata/developer.xcuserdatad/xcschemes/Fatchat.xcscheme
Fatchat.xcodeproj/xcuserdata/developer.xcuserdatad/xcschemes/xcschememanagement.plist
